<!DOCTYPE HTML>
<html lang="de">
<head>
    <title>Schabuu: Video</title>
    <meta charset="utf-8">
    <meta name="description" lang="de" content="">
    <meta name="keywords" lang="de" content="">
    <meta name="author" content="Team Schabuu">

    <link rel="shortcut icon" href="./img/favicon.ico">
    <link rel="apple-touch-icon" href="./img/ic_launcher.png">

    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="index,follow,noarchive">

    <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.12/video.js"></script>

    <style type="text/css">
        html, body {
            font-size: 90%;
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body>
<video id="really-cool-video" autoplay class="video-js vjs-default-skin" controls
       preload="auto" width="640" height="264" poster="really-cool-video-poster.jpg"
       data-setup='{}'>
    <source src="rtmp://ws2.nanocosmos.net/live/test" type="rtmp/mp4">
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser
        that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>
</body>
</html>

